<!DOCTYPE html>
{%load static%}
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="{% static 'main.js' %}"></script>

    <title>Dashboard</title>
    <style>
        body {
            color: rgb(255, 255, 255);
            text-align: center;
            padding-top: 17%;
        }
        .login {
            position: absolute;
            top: 10px;
            right: 10px;
        }
        .contact us {
            position: absolute;
            top: 10px;
            left: 10px;
        }
    </style>
</head>
<body>
    <body style="background-image: url('{%static 'images/first.jpeg'%}');"></body>
    <h1><b>WHERE MUSIC <br>MEETS AI!</b></h1>
    <a class="login" href="{% url 'login' %}">
        <img src="{% static 'images/login.png' %}" alt="Login" width="50" height="50">
    </a>
    <a class="contactus" href="{% url 'contactus' %}">
        <img src="{% static 'images/contact_us.png' %}" alt="Contact Us"width="50" height="50">
    </a>
</body>
</html>
